NEXT_PUBLIC_WORDPRESS_URL=https://cms.rturk.me
NEXT_PUBLIC_WP_HOSTNAME=cms.rturk.me
WORDPRESS_GRAPHQL_ENDPOINT=https://cms.rturk.me/graphql
NEXT_PUBLIC_SITE_URL=https://rturk.me
REVALIDATION_SECRET=change-me-32-chars-minimum
